* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #region utilities */
:root {
    --banner: #ff6900;
    --sales: #ff0000;
    --sost: #008000;
    --footer: #1a1a1a;
}

body {
    min-width: 1920px;
}

.container {
    margin: auto;
}

.d-flex {
    display: flex;
}

a {
    text-decoration: none;
}

/* #endregion utilities */

/* #region header */

.banner {
    background-color: var(--banner);
    justify-content: space-around;
    align-items: center;
    min-height: 5rem;
    flex-grow: 1;

    .logo {
        width: 8%;
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;

        a {
            color: white;
        }
    }

    .side_menu {
        color: white;
    }
}

/* #endregion header */

/* #region main */

.products {
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 3rem;
    justify-content: center;
}

.products img {
    width: 300px;
}

.caption{
    font-size: 12px;
}

.span_red{
    color: var(--sales);
}
.span_line{
    text-decoration: line-through;
}