* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #region utilities */
:root {
    --banner: #ff6900;
    --sales: #ff0000;
    --footer: #1a1a1a;
}

body {
    min-width: 1920px;
}

.container {
    margin: auto;
}

.d-flex {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
            gap: 1rem;
}

/* #endregion utilities */

/* #region header */
#app_header {
position: sticky;
top: 0;
z-index: 1;
}

.banner {
    background-color: var(--banner);
    justify-content: space-around;
    align-items: center;
    min-height: 5rem;
    flex-grow: 1;

    .logo {
        width: 8%;
    }

    ul {
        display: flex;


        a {
            color: white;
        }
    }

    .side_menu {
        color: white;
    }
}

/* #endregion header */

/* #region main */

.products {
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 3rem;
    justify-content: center;
    position: relative;
    margin-bottom: 3rem;
}

.products img {
    width: 300px;

}

.caption {
    font-size: 12px;
}

.span_red {
    color: var(--sales);
}

.span_line {
    text-decoration: line-through;
}

.sale {
    position: absolute;
    bottom: 15%;
    background-color: var(--sales);
    color: white;
    padding: 2px;
}

.like_btn {
    position: absolute;
    bottom: 83%;
    background-color: white;
    padding: .5rem;
}
/* #endregion main */

/* #region footer */
.footer_bg{
    background-color: var(--footer);
    color: white;
    justify-content: space-around;
    padding: 2rem 0;
}

/* #endregion footer */